<h1>Update landmark</h1>
<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  
  <p><label>Name: </label><input type="text" name="landmark[name]" value="<%=@landmark.name%>" id="name"></p>

  <p><label>Year built: </label><input type="text" name="landmark[year_completed]" value="<%=@landmark.year_completed%>" id="year_completed"></p>

  <p><input type="submit" value="Edit Landmark"></p>
</form>
