<h1>Add a new landnmark </h1>
<form action='/landmarks' method="POST">
  <p><label>Name: </label><input type="text" name="landmark[name]" id="landmark_name"></p>
  <p><label>Year: </label><input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p>

  <p><input type="submit" value="Create New Landmark"></p>
</form>
