<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
    <th></th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
    <td><a href="/landmarks/<%=@landmark.id%>/edit">Edit</a></td>
  </tr>
<table>
  <p><a href="/landmarks">Back to all landmarks</a></p>
